* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 400;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #eee;
}

.colorGame {
    width: 100%;
    max-width: 500px;
    background: #ccb0b0;
    height: 600px;
    padding: 30px;
    border-radius: 20px;
}

#colorBox {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border: 2px solid #000;
}

#colorOption {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

.celebrate {
    opacity: 0;
    transition: opacity 2s ease-out;
}
.hidden {
    opacity: 0;
    transition: opacity 2s ease-out;
}